@import url(http://fonts.googleapis.com/css?family=Raleway);
*{
  font-family: "Raleway";
  text-align: center;
background-color:#2BABFF;}
h1{ color:blue;
}
h3{color:black;}
#word {
    width: auto;
    height: auto;
    padding: 0.5%;
    display:inline-block;
    margin: 0 auto;
    font-size: 5em;
    text-align: center;
}
#letterGuess{
  padding: 0.5%;
}
#letter, #guessButton{
  height: 100%;
  font-size: 1.2em;
color:black;}
#wrong{
  min-height: 20px;
}
h3, #lives{
  display: inline;
  font-size: 1.2em;
}
#live{
  weight: bold;
}
#image{
  width:100px;
  height:100px;
}




footer{
  font-size: 0.8em;
  padding: 0.5%;
}

